.card-body {
    font-size: unset;
    display: grid;
    grid-template-areas: "title title"
                         "dates location"
                         "description description";

    grid-template-columns: max-content 1fr;
    column-gap: 1em;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "dates"
                             "location"
                             "description";
    }
}

.title {
    grid-area: title;
    text-align: start;
    margin-bottom: 0.1em;
}

.company-name {
    font-style: italic;
}

.dates {
    font-size: 0.75em;
    margin: 0;
    grid-area: dates;
    font-weight: 300;
}

.location {
    font-size: 0.75em;
    margin: 0;
    grid-area: location;
}

.description {
    grid-area: description;
    font-weight: 300;
}
